body {
    width: 95%;
    margin: 0 auto;
    min-width: 900px;
    max-width: 1200px;
    font-family: 'Jomolhari', serif;
    font-size: 16px;
}

header h1 {
    font-size: 38px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    line-height: 40px;
    border-top: thick double black;
    border-bottom: thick double black;
    padding-left: 20px;
}

header select {
    height: 25px;
    color: #555;
    border: 1px solid #ccc;
    cursor: pointer;
}

header input {
    height: 18px;
    padding-left: 6px;
    color: #555;
    border: 1px solid #ccc;
}

main {
    padding-top: 2%;
    align-items: center;
}

main article {
    display: block;
    text-align: left;
    padding: 20px;
    background: rgba(204, 204, 204, 0.3);
}

main a:link {
    color: black;
}

main .note {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

main aside {
    top: 20px; 
    right: 2px;
    list-style: none;
}

main graph {
    display: block;
    top: 10px;
}

footer {
    height: 30px;
    line-height: 30px;
    padding-top: 5px;
    margin-bottom: 40px;
    padding-left: 20px;
    border-top: 2px solid black;
}

footer a:link {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

button{
    background-color: rgba(204, 204, 204, 0.3);
    border: 2px solid #555;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    float: right;
    font-size: 15px;
    border-radius: 6px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }